html, body{
    width: 100%;
    min-height: 100%;
    font-family:'Franklin Gothic Medium';
    display: flex;
    margin: 0;
    color: #222;
}

#navbar{
    display: flex;
    background-color: rgba(248, 248, 248, 1);
    max-width: 300px;
    width: 20vw;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    outline: 1px #ddd solid;
}

.nav-title{
    margin: 0;
    outline: 1px #ddd solid;
    padding: 10% 0 10% 15%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
    appearance: textfield;
}

a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

button{
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 10% 0 0 0;
    padding: 0;
}

i{
    margin-right: 2%;
}

li{
    list-style: none;
    font-size: 1.1rem;
    padding: 2% 0 10% 15%;
}

li a{
    color: #bbb;
    padding: 5%;
    border-radius: 5px;
}

li a:hover{
    background-color: #eee;
    color:#222;
}

.dashboard{
    flex: 1;
    display: flex;
    width: 80vw;
    min-height: 100%;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}

.page{
    margin: 1.5% 5%;
    font-size: 2.5rem;
    font-weight: bold;
    max-height: 12%;
    padding: 1.5% 0 2% 3%; 
    margin: 0;
}

.container{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    padding: 2% 3%;
    place-items: center;
    overflow-y: scroll;
}

.card{
    padding: 3% 8% 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
    gap: 15px;
    max-height: 150px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #222;
    margin: 5% 3%;
}

h2{
    margin: 0;
}

.view-store{
    background-color: #222;
    color: #fff;
    border-radius: inherit;
    display: grid;
    height: 2.5rem;
    font-size: 1.2rem;
    place-items: center;
}

.store-product{
    font-size: 110%;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    height: 18rem;
    min-width: 70%;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #222;
    margin: 3% 5%;
    gap: 2%;
    word-break: break-all;
}

#add_to_cart{
    background-color: #222;
    border: none;
    color: #fff;
    width: 100%;
    padding: 2% 10%;
    display: grid;
    place-items: center;
    height: fit-content;
    border-radius: 5px;
    font-size: 110%;
}

#description{
    margin: 1% 0;
    height: 20%;
}

.store-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 2% 3%;
    place-items: center;
    overflow-y: scroll;
}

#hidden{
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: 10;
    position: fixed;
    display: none;
}

.hidden_form{
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #222;
    z-index: 2;
    min-height: fit-content;
    height: 60vh;
    width: 25vw;
    justify-content: space-between;
}

form h3{
    font-size: 170%;
    margin: 0;
}

form h2{
    font-size: 200%;
}

form input, select{
    background-color: #fff;
    padding: 0 5%;
    min-height: 10%;
    border-radius: inherit;
    border: none;
    outline: 1px solid #ddd;
}

.create_btn{
    height: 10%;
    background-color: #222;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 110%;
    border-radius: inherit;
}

#blurr{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.close_button{
    position: absolute;
    top: 5%;
    right: 5%;
    border: none;
    background-color: inherit;
    color: #666;
    font-size: 100%;
}

.product_hidden_form{
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #222;
    z-index: 2;
    min-height: fit-content;
    height: 80vh;
    width: 25vw;
    justify-content: space-between;
}

.product_hidden_form #id_on_sale{
    outline: none;
}

.product_hidden_form input, textarea{
    padding: 1% 5%;
    min-height: 8%;
    border-radius: inherit;
    border: none;
    outline: 1px solid #ddd;
}



